* {
    border: 1px solid black;
    margin: 0 auto;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-image: linear-gradient(to left, #bf1e2e, #f1592a);
    height: 76px;
    position: relative;
}

.container {
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
    display: flex;
}

.logo {
    margin: 3px auto;
    float: left;
}

.menu-top {
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 100%;
}

.menu-top li {
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
    margin: auto;
}

.menu-top a {
    text-decoration: none;
    color: #fff;
    padding: 0 5px 0 5px;
}

.menu-top a:hover {
    background: #fff;
    color: #2a2a2a;
    padding: 30px 5px 30px 5px;
}

.lang {
    display: flex;
    height: 20px;
    margin: auto;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    background: none;
    color: #fff;
}

.lang option {
    color: #2a2a2a;
}

.slider {
    position: relative;
}

.rozklad {
    align-items: center;
    text-align: center;
    list-style: none;
    margin-top: -120px;
}

.events {
    background: url("../img/pagination.png");
    width: 92px;
    height: 93px;
}

.day {
    font-size: 16.5px;
    color: rgba(255, 255, 255, 0.4);
}

.date {
    font-size: 44px;
    color: #ffffff;
}

.month {
    text-transform: uppercase;
    color: #7d7c7c;
    font-size: 13px;
}

.events-selected {
    background: url("../img/pagination-active.png");
    width: 556px;
    height: 93px;
    display: flex;
}

.events-selected-day {
    margin-left: 20px;
}

.event-about {
    text-align: left;
    margin-left: -170px;
    margin-top: 5px;
}

.event-name {
    color: white;
    font-size: 27.5px;

}

.event-description {
    margin-top: 10px;
    font-size: 13px;
    color: white;
}
