* {
    border: 1px solid black;
    margin: 0 auto;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-image: linear-gradient(to left, #bf1e2e, #f1592a);
    height: 76px;
}

.container {
    box-sizing: border-box;
    max-width: 930px;
    width: 100%;
    display: flex;
}

.logo {
    margin: 3px auto;
    float: left;
}

.menu-top {
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 100%;
}

.menu-top li {
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
    margin: auto;
}

.menu-top a {
    text-decoration: none;
    color: #fff;
    padding: 0 5px 0 5px;
}

.menu-top a:hover {
    background: #fff;
    color: #2a2a2a;
    padding: 30px 5px 30px 5px;
}

.lang {
    display: flex;
    height: 20px;
    margin: auto;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    background: #bf1e2e;
    color: #fff;
}

.lang option {
    background: #bf1e2e;
}
